*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f0f0f0;
    font-family: sans-serif;
}

.container {
    width: 100%;
    max-width: 1170px;
    /* border: 1px solid #000; */
    margin: 0 auto;
}

.header {
    padding-top: 30px;
    padding-bottom: 24px;
}

.header-box {
    display: flex;
    justify-content: space-between; 
    /* background-color: #fff; */
    align-items: center;
}

.header-logo {
    display: flex;
    justify-content: start;
    align-items: center;
}

.header-logo span {
    line-height: 28px;
    font-size: 30px;
    font-weight: 700;
    margin-left: 6px;
}

.btn{
    line-height: 16px;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 15px;
    cursor:pointer;
    border-radius: 5px;
    border: none;
}
.btn-outline{
    background-color: transparent;
}
.btn-primary{
    background-color: rgb(37,110,235);
    color:#fff;
}

.header-burger {
    width: 30px;
    height: 30px;
    display: none;
    margin-right: 5px;
}
.header-burger img{
    width: 100%;
}

@media (max-width: 1200px) {
    .container {
        max-width:930px;
    }
}
@media (max-width:991px) {
    .container {
        max-width: 730px;
    }
}
@media (max-width:786px) {
    .container {
        max-width: 100%;
    }

    .header-controls {
        display: none;
    }

    .header-burger {
        display: block;
    }
}